In [1]:
import pandas as pd
import pandas_profiling

pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

In [2]:
df = pd.read_csv('./BankChurners.csv')
del df['Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1']
del df['Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2']

In [3]:
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

In [4]:
metadata = {
    "description": "A business manager of a consumer credit card portfolio wants to analyze the customers data to find out the reason behind this and leverage the same to predict customers who are likely to drop off.",
    "url": "https://www.kaggle.com/sakshigoyal7/credit-card-customers"
}

descriptions = {
    "CLIENTNUM": "Client number. Unique identifier for the customer holding the account.",
    "Attrition_Flag": "Internal event (customer activity) variable - if the account is closed then 1 else 0",
    "Customer_Age": "Demographic variable - Customer's Age in Years",
    "Gender": "Demographic variable - M=Male, F=Female",
    "Dependent_count": "Demographic variable - Number of dependents",
    "Education_Level": "Demographic variable - Educational Qualification of the account holder (example: high school, college graduate, etc.)",
    "Marital_Status": "Demographic variable - Married, Single, Divorced, Unknown",
    "Income_Category": "Demographic variable - Annual Income Category of the account holder (< $40K, $40K - 60K, $60K - $80K, $80K-$120K, > $120K, Unknown)",
    "Card_Category": "Product Variable - Type of Card (Blue, Silver, Gold, Platinum)",
    "Months_on_book": "Period of relationship with bank",
    "Total_Relationship_Count": "Total no. of products held by the customer",
    "Months_Inactive_12_mon": "No. of months inactive in the last 12 months",
    "Contacts_Count_12_mon": "No. of Contacts in the last 12 months",
    "Credit_Limit": "Credit Limit on the Credit Card",
    "Total_Revolving_Bal": "Total Revolving Balance on the Credit Card",
    "Avg_Open_To_Buy": "Open to Buy Credit Line (Average of last 12 months)",
    "Total_Amt_Chng_Q4_Q1": "Change in Transaction Amount (Q4 over Q1)",
    "Total_Trans_Amt": "Total Transaction Amount (Last 12 months)",
    "Total_Trans_Ct": "Total Transaction Count (Last 12 months)",
    "Total_Ct_Chng_Q4_Q1": "Change in Transaction Count (Q4 over Q1)",
    "Avg_Utilization_Ratio": "Average Card Utilization Ratio",
}

In [5]:
profile = df.profile_report(title="Credit Card customers", dataset=metadata, variables={ "descriptions": descriptions})
profile.to_file("report.html")

Summarize dataset: 100%|██████████| 259/259 [00:13<00:00, 19.44it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:02<00:00,  2.47s/it]
Render HTML: 100%|██████████| 1/1 [00:02<00:00,  2.85s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 65.78it/s]